//Palertas
$primary-color: #0000FF ;
$text-color:  #060A24;
$button-color:#00F3BB;

//Fonts
$font-primary: 'IBM Plex Mono', monospace;
$font-secondary: 'IBM Plex Sans', sans-serif;

//layout
$custom-container-max-width: 984px;