@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,400&family=IBM+Plex+Sans:wght@300;400;600;800&display=swap" rel="stylesheet');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "IBM Plex Mono", monospace;
  scroll-behavior: smooth;
  display: block; }

.container {
  margin: auto; }

header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  left: 5%;
  background-color: white; }
header .menu li {
  padding: 12px 16px 12px 16px;
  box-sizing: border-box;
  text-transform: uppercase; }

.button {
  background-color: #00F3BB;
  text-align: center;
  padding: 16px 0px;
  text-transform: uppercase;
  font-weight: 500; }
  .button:hover {
    color: white;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
  .button a {
    text-decoration: none;
    color: white; }

.banner h1 {
  font-family: "IBM Plex Sans", sans-serif; }

.episodes {
  background-color: #0000FF; }
  .episodes h2 {
    color: white; }

.our-us .container {
  margin-top: -120px;
  position: relative;
  z-index: 9; }

.topics {
  font-family: "IBM Plex Sans", sans-serif; }

.container {
  max-width: calc(100% - 32px); }

header nav {
  height: 44px; }
  header nav .btn-hamburguer-action {
    display: none; }
  header nav .btn-hamburguer-action:checked ~ .menu {
    display: block; }
  header nav .btn-hamburguer-action:checked ~ label .btn-hamburguer .bars {
    display: none; }
  header nav .btn-hamburguer-action:checked ~ label .btn-hamburguer .close {
    display: block; }
  header nav .btn-hamburguer .bars {
    display: block; }
  header nav .btn-hamburguer .close {
    display: none; }
  header nav .menu {
    background-color: #0000FF;
    display: none;
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0; }
    header nav .menu li {
      display: block; }
      header nav .menu li a {
        text-decoration: none;
        color: white;
        font-weight: 600; }

.banner {
  padding: 90px 9px 10px 10px; }
  .banner h1 {
    font-size: 36px; }
  .banner p {
    font-size: 14px;
    line-height: 22px;
    padding: 16px 0px 36px 0px; }
  .banner .desktop {
    display: none; }

.episodes {
  clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%); }
  .episodes h2 {
    font-size: 36px;
    padding-top: 64px; }
  .episodes .podcasts {
    padding: 16px 0px 176px 0px; }
    .episodes .podcasts iframe {
      width: 100%;
      margin-top: 11px; }
    .episodes .podcasts iframe:first-child {
      margin-top: 0; }

.our-us img {
  width: 100%; }
.our-us h2 {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 27px 0 8px 0; }
.our-us p {
  font-size: 14px;
  line-height: 22px; }
  .our-us p:last-child {
    margin-top: 20px; }

.invites h2 {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 54px 0 14px 0; }
.invites .images li {
  display: block;
  margin-bottom: -4px; }
  .invites .images li img {
    width: 100%; }

.topics h2 {
  font-size: 36px;
  margin: 48px 0 24px 0; }
.topics .list {
  text-align: center; }
  .topics .list li {
    margin-bottom: 36px; }
    .topics .list li img {
      margin: 13px 0; }
    .topics .list li h3 {
      font-size: 24px;
      font-weight: 600; }

.news {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  background-color: #0000FF; }
  .news .container {
    padding: 64px 0 67px 0; }
    .news .container h2 {
      color: white;
      margin: 25px 0 36px 0;
      font-size: 36px;
      text-align: center;
      line-height: 42px;
      font-family: "IBM Plex Sans", sans-serif; }

.community .container {
  text-align: center; }
  .community .container p {
    margin: 24px 0 16px 0; }
.community .social_networks {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); }
  .community .social_networks a {
    color: #060A24; }

@media (min-width: 780px) {
  .container {
    max-width: 1200px; }

  .button {
    font-size: 18px; }

  header nav {
    height: 80px; }
    header nav .btn-hamburguer {
      display: none; }
    header nav .logo {
      height: 36px;
      width: 36px; }
    header nav .menu {
      background-color: transparent;
      display: block;
      position: static;
      width: auto;
      top: auto;
      left: auto; }
      header nav .menu .item_menu {
        display: inline-block;
        color: #060A24; }
        header nav .menu .item_menu a {
          text-decoration: none;
          color: black;
          font-weight: 600; }
          header nav .menu .item_menu a:hover {
            color: #00F3BB;
            text-decoration-line: line-through; }

  .banner {
    max-width: 1040px;
    padding-top: 120px; }
    .banner h1 {
      font-size: 64px; }
      .banner h1 br {
        display: none; }
      .banner h1 .dot {
        color: #0000FF; }
    .banner p {
      font-size: 16px;
      line-height: 24px;
      max-width: 628px;
      padding-bottom: 56px; }
    .banner .button {
      max-width: 226px; }
    .banner .mobile {
      display: none; }
    .banner .desktop {
      display: block; }

  .episodes {
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%); }
    .episodes h2 {
      font-size: 48px;
      padding: 186px 0 26px 0;
      max-width: 1040px;
      margin: 0 auto; }
    .episodes .podcasts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px; }
      .episodes .podcasts iframe {
        margin-top: auto;
        background-color: transparent; }

  .our-us .container {
    max-width: 984px;
    display: flex;
    justify-content: space-between; }
  .our-us img {
    max-width: 458px; }
  .our-us .text-content {
    max-width: 464px;
    margin-top: 100px; }
    .our-us .text-content h2 {
      font-size: 48px;
      margin: 20px 0 24px 0; }
    .our-us .text-content p {
      line-height: 24px;
      font-size: 16px; }

  .invites .container {
    max-width: 984px;
    margin-bottom: 36px;
    font-size: 48px; }
  .invites .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }

  .topics .container {
    max-width: 984px; }
  .topics h2 {
    margin: 64px 0 56px 0;
    font-size: 48px; }
  .topics li {
    margin-bottom: 0; }
  .topics .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }

  .news .container {
    padding: 213px 0 151px 0; }
    .news .container h2 {
      font-size: 48px; }
    .news .container .button {
      max-width: 345px;
      margin: 0 auto; }

  .community .container {
    display: flex;
    justify-content: space-between; }
    .community .container p {
      margin: 36px 0 32px 0; }
  .community .social_networks {
    margin: -50px 2px 0 1101px; } }

/*# sourceMappingURL=style.css.map */
